.registerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 10% auto ;
  background-color: #D3D3D3;
  border-radius: 3px;
  input{
    border-radius: 4px;
    padding: 7px;
    color: #BABABA;
    border: 0;
    outline: none;
  }
  button{
    height: 32px;
    align-content: center;
    border: 1px solid #0008C1;
    width: 200px;
    background: #0008C1;
    border-radius: 25px;
    color: white;
    margin: 2%;
  }
  a {
    color: #0008C1;
    text-decoration: underline;
    font-size: 14px;
  }
}